# PhpStorm
/.idea

# Composer files
composer.phar
/vendor/

# ignore node dependency directories
node_modules/
npm-debug.log
yarn-error.log

# ignore log files and databases
*.log
*.sql
*.sqlite

# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# log files
/logs

/dist